.MenteeSlots {
  background-color: white;
  gap: 0.2rem;
}

.MenteeSlots-Calendar {
  background-color: aliceblue;
  height: 70%;
  width: 100%;
}

.MenteeSlots-Tags {
  height: 20%;
  width: 100%;
  display: flex;
  gap: 0.2rem;
  font-size: 1.5rem;
}

.MenteeSlots-Button-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
}

.MenteeSlots-Button {
  height: 90%;
  width: 90%;
}
