.App {
  font-family: 'Jua', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  width: 35vw;
  height: 100vh;
}

.common {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 8%;
  background-color: #292d39;
  color: white;
}

.main {
  height: 81%;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  height: 8%;
  background-color: #292d39;
  color: white;
}

button {
  border: none;
  background: none;
}
